/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
  url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"),
  url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black--rgb: 0, 0, 0;
  --basic-extra-black: #6A6A6A;

  --basic-dark: #333333;
  --basic-extra-dark: #666666;

  --basic-gray: #A9A9A9;
  --basic-extra-gray: #BDBBBC;

  --basic-light: #F2F2F2;
  --basic-extra-light: #EBEBEB;

  --basic-white: #ffffff;
  --basic-extra-white: #E5E5E5;

  --basic-blue: #81B3D2;
  --basic-extra-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;

  --basic-brown: #766357;
  --basic-extra-brown: #604E43;
  --basic-extra-dark-brown: #503E33;

  --special: #EEEEEE;
}

/* Global */

.page-body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}

/* Header */
.header {

}

.header__logo {
  justify-self: center;
}

/* Main navigation */
.nav {
  display: grid;
  background-color: var(--basic-white);
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

/* Link */

.link {
  font-weight: bold;
  color: var(--basic-black);
}

.link:hover,
.link:focus {
  color: var(--basic-blue);
}

.link:active {
  color: inherit;
  opacity: 0.3;
}

.nav__item--current .link {
  color: var(--basic-brown);
  opacity: 1;
}

/* Content */
.main {
  background-color: var(--basic-white);
}

.main p {
  color: var(--basic-dark);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 21px;
  line-height: inherit;
  opacity: inherit;
}

.text-center {
  text-align: center;
}

/* Slider */
.slider {
  width: 1200px;
  height: 509px;
  background-color: var(--basic-white);
  background-image: url('../img/slider/slider.jpg');
}

/* Features */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  line-height: 21px;
}

.features__title {
  grid-column: 1 / -1;
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.features-group {
  display: grid;
  grid-column: 1 / -1;
}

.features-group:nth-of-type(2n+1) {
  background-color: var(--basic-blue);
}

.features-group:nth-of-type(4) {
  background-color: var(--special);
}

.features-group:nth-of-type(2n+1) * {
  color: var(--basic-white);
}

.features-group:nth-of-type(2n+1) .features__list {
  grid-template-columns: 1fr;
}

.features__item-img {
  max-width: none;
  grid-column: 2 / 3;
}

/* Booking */
.booking {
  display: grid;
  max-width: 568px;
  width: 100%;
  margin: 0 auto;
  line-height: 24px;
}

.booking__title {
  font-size: 30px;
}

.booking__content {
  line-height: 26px;
}

.booking__content-title {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.booking__content-title:hover,
.booking__content-title:focus {
  background-color: var(--basic-extra-brown);
}

.booking__content-title:active {
  background-color: var(--basic-extra-dark-brown);
}

.booking__content-title:active .title__text {
  opacity: 0.3;
}

/* Search Form*/

.search-form {
  font-weight: bold;
  text-align: left;
  background-color: inherit;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form__label {
  color: var(--basic-black);
}

.search-form__input-text {
  font-size: inherit;
  font-weight: bold;
  background-color: var(--basic-light);
  border: 0;
  box-sizing: border-box;
  outline: 2px solid var(--basic-light);
  text-transform: uppercase;
}

.search-form__input-text:hover {
  background-color: var(--basic-extra-light);
  outline: 2px solid var(--basic-extra-light);
}

.search-form__input-text:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--basic-extra-white);
}

.search-form__input-text::placeholder {
  color: var(--basic-black);
}

.search-form__control {
  background: transparent;
  fill: var(--basic-gray);
}

.search-form__control:hover,
.search-form__control:focus {
  fill: var(--basic-black);
}

.search-form__control:active {
  fill: var(--basic-blue);
}

/* Button */
.button {
  text-transform: uppercase;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.button-submit {
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--basic-extra-blue);
}

.button-submit:active {
  background-color: var(--basic-extra-dark-blue);
}

/* Map */
.map {
  display: grid;
  width: 100%;
  min-height: 593px;
  background: var(--basic-light) url("../img/map.jpg");
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: rgba(var(--basic-white), 0.9);
}

.footer__item {
  align-self: center;
}

.footer-contacts__text {
  font-size: 21px;
  font-weight: bold;
}

.footer-contacts__phone {
  color: inherit;
}

.footer-social__list {
  list-style: none;
}

.footer-social__item {
  display: inline-block;
}

.footer-social__item-link {
  display: block;
  width: 46px;
  height: 48px;
  background: var(--basic-blue);
}

.footer-social__item-link:hover,
.footer-social__item-link:focus {
  background-color: var(--basic-extra-blue);
}

.footer-social__item-link:active {
  background-color: var(--basic-extra-dark-blue);
}

.footer-social__item-icon {
  display: block;
}

.footer-copyright__link:hover .footer-copyright__logo,
.footer-copyright__link:focus .footer-copyright__logo {
  fill: var(--basic-blue);
}

.footer-copyright__link:active .footer-copyright__logo {
  fill: var(--basic-extra-gray);
}

/* Catalog */
.filter {
  color: var(--basic-white);
  background: var(--basic-blue) url("../img/filter-bg.jpg") no-repeat;
  line-height: 21px;
}

.filter__form legend {
  font-size: 16px;
  font-weight: bold;
}

.filter__button {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
}

.filter__button:hover,
.filter__button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sort__content {
  font-size: 12px;
}

.sort__list-item:not(.sort__list-item--active) a {
  color: rgba(var(--basic-black--rgb), .3);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort__list-item:not(.sort__list-item--active) a:hover,
.sort__list-item:not(.sort__list-item--active) a:focus {
  color: var(--basic-blue);
}

.sort__list-item:not(.sort__list-item--active) a:active {
  color: var(--basic-black);
  border-bottom: 0;
}

.sort__list-item--active a {
  color: var(--basic-blue);
}

.btn {
  font-size: inherit;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  padding: 3px 16px;
}

.btn:active span {
  opacity: 0.3;
}

.btn--more {
  padding-left: 17px;
  background: var(--basic-blue);
}

.btn--more:hover,
.btn--more:focus {
  background: var(--basic-extra-blue);
}

.btn--more:active {
  background: var(--basic-extra-dark-blue);
}

.btn--book {
  padding-right: 17px;
  background: var(--basic-brown);
}

.btn--book:hover,
.btn--book:focus {
  background: var(--basic-extra-brown);
}

.btn--book:active {
  background: var(--basic-extra-dark-brown);
}

.filter__list,
.sort__list,
.accommodation__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

main .card__rating-text {
  display: inline-block;
  color: var(--basic-extra-dark);
  background: var(--basic-light);
}
