/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
  url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"),
  url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-black--rgb: 0, 0, 0;
  --basic-extra-black: #6A6A6A;

  --basic-dark: #333333;
  --basic-extra-dark: #666666;

  --basic-gray: #A9A9A9;
  --basic-extra-gray: #BDBBBC;

  --basic-light: #F2F2F2;
  --basic-extra-light: #EBEBEB;

  --basic-white: #ffffff;
  --basic-white--rgb: 255, 255, 255;
  --basic-extra-white: #E5E5E5;

  --basic-blue: #81B3D2;
  --basic-extra-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;

  --basic-brown: #766357;
  --basic-extra-brown: #604E43;
  --basic-extra-dark-brown: #503E33;

  --special: #EEEEEE;
  --special-dark: #ABABAB;
  --special-gray: #CACACA;
}

/* Global */

.page-body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  -webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

/* Header */
.header {
  position: relative;
  padding-left: 73px;
  padding-right: 73px;
}

.header__logo {
  position: absolute;
  top: 0;
  z-index: 10;
}

.header__logo:focus {
  outline: 1px dashed var(--special-dark);
  outline-offset: 2px;
}

/* Main navigation */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.inner-page .nav__item {
  padding-top: 14px;
  padding-bottom: 16px;
}

.nav__item:nth-child(2) {
  margin-right: 20%;
  padding-left: 17px;
}

.nav__item:nth-child(3) {
  padding-right: 15px;
}

.nav__item:nth-child(3),
.nav__item:last-child{
  text-align: right;
}

/* Link */

.link {
  display: inline-block;
  vertical-align: baseline;
  font-weight: bold;
  color: var(--basic-black);
}

.link:hover{
  color: var(--basic-blue);
}

.link:active {
  color: inherit;
  opacity: 0.3;
}

.link:focus {
  outline: 1px dashed var(--special-dark);
  outline-offset: 2px;
}

.nav__item--current .link {
  color: var(--basic-brown);
  opacity: 1;
}

/* Content */
.main {
  background-color: var(--basic-white);
}

.title {
  margin: 0;
  font-size: 21px;
  line-height: inherit;
  opacity: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-center {
  text-align: center;
}

/* Slider */
.slider {
  min-height: 509px;
  background: url(../img/slider/slider-bottom.svg) 50% 100% no-repeat,
  url(../img/slider/welcome.svg) 50% 49% no-repeat,
  var(--basic-light) url(../img/slider/slider.jpg) 0 20% no-repeat;
  margin-bottom: 44px;
}

/* About */
.about {
  margin-bottom: 50px;
}

.about__content-title {
  width: 470px;
  min-height: 80px;
  margin: 0 auto 16px;
}

.about__content-text {
  width: 519px;
  min-height: 26px;
  margin: 0 auto;
  color: var(--basic-dark);
}

/* Features */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 21px;
}

.features__title {
  width: 100%;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-group:nth-of-type(2n+1) {
  background-color: var(--basic-blue);
}

.features-group:nth-of-type(4) {
  background-color: var(--special);
}

.features-group:nth-of-type(2n+1) * {
  color: var(--basic-white);
}

.features-group:nth-of-type(3) .features__list {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  margin: 0;
  padding: 47px 49px 54px;
}

.features-group:nth-of-type(2) .features__item {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 55px;
  padding-bottom: 81px;
}

.features__item-title {
  max-width: 150px;
  margin-bottom: 26px;
}

.features__item-number {
  margin-bottom: 24px;
  color: var(--basic-dark);
}

.features__item-text {
  margin: 0;
  color: var(--basic-dark);
}

.features__item-icon {
  margin-bottom: 28px;
}

/* Booking */
.booking {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 568px;
  margin: 0 auto;
  padding: 58px 0 0;
  text-align: center;
  line-height: 24px;
}

.booking__title {
  font-size: 30px;
  padding-right: 12px;
}

.booking__text {
  margin: 0 0 24px;
  padding: 30px 0 21px;
}

.booking__content {
  position: relative;
  height: 86px;
}

.booking__content-button {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0;
  padding: 30px 0;
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  z-index: 2;
}

.booking__content-button:hover {
  background-color: var(--basic-extra-brown);
}

.booking__content-button:active {
  background-color: var(--basic-extra-dark-brown);
  color: rgba(var(--basic-white--rgb), 0.3);
}

.booking__content-button:focus {
  outline: 3px solid var(--basic-extra-brown);
  outline-offset: -3px;
}

/* Search Form*/

.search-form {
  position: absolute;
  top: 86px;
  width: 100%;
  font-weight: bold;
  text-align: left;
  background-color: var(--basic-white);
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  padding: 55px;
  z-index: 1;
}

.search-form--closed {
  visibility: hidden;
  -webkit-animation: hide 0.6s forwards;
  animation: hide 0.6s forwards;
}

.search-form--opened {
  visibility: visible;
  -webkit-animation: show 0.6s forwards;
  animation: show 0.6s forwards;
}

.search-form--error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.search-form input {
  padding-top: 3px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--basic-light);
  font-family: inherit;
  line-height: 26px;
  border: none;
}

.search-form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 30px;
}

.search-form__item:first-child {
  margin-bottom: 29px;
}

.search-form__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 226px;
}

.search-form__label {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  line-height: 26px;
  color: var(--basic-black);
}

.search-form__label--childs {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 66px;
}

.search-form__input-text.input-date {
  width: 308px;
  padding-left: 12px;
}

.search-form__input-text {
  font-size: inherit;
  font-weight: bold;
  background-color: var(--basic-light);
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 2px solid var(--basic-light);
  text-transform: uppercase;
}

.search-form__input-text:hover {
  background-color: var(--basic-extra-light);
  outline: 2px solid var(--basic-extra-light);
}

.search-form__input-text:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--basic-extra-white);
}

.search-form__input-text::-webkit-input-placeholder {
  color: var(--basic-black);
}

.search-form__input-text::-moz-placeholder {
  color: var(--basic-black);
}

.search-form__input-text:-ms-input-placeholder {
  color: var(--basic-black);
}

.search-form__input-text::-ms-input-placeholder {
  color: var(--basic-black);
}

.search-form__input-text::placeholder {
  color: var(--basic-black);
}

.search-form__input-number {
  padding: 0;
  width: 38px;
  text-align: center;
}

.search-form__control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0;
  width: 38px;
  height: 38px;
  font: inherit;
  cursor: pointer;
  fill: var(--basic-gray);
  background-color: var(--basic-light);
}

.search-form__control:hover,
.search-form__control:focus {
  fill: var(--basic-black);
  outline: 2px solid var(--basic-extra-white);
  outline-offset: -2px;
}

.search-form__control:active {
  fill: var(--basic-blue);
  outline: 2px solid var(--basic-extra-white);
  outline-offset: -2px;
}

/* Button */
.button {
  text-transform: uppercase;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button-submit {
  display: block;
  max-width: 458px;
  width: 100%;
  margin: 54px auto 0;
  padding: 16px 20px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  cursor: pointer;
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--basic-extra-blue);
}

.button-submit:active {
  background-color: var(--basic-extra-dark-blue);
}

.button-submit:focus {
  outline: 3px solid var(--basic-extra-dark-blue);
  outline-offset: -3px;
}

/* Map */
.map {
  width: 100%;
  height: 594px;
  background: var(--basic-light) url("../img/map.jpg");
}

.map__iframe:focus {
  outline: 1px solid var(--special-dark);
}

/* Footer */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 23px 73px 27px;
  background-color: rgba(var(--basic-white--rgb), 0.9);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-index {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0;
}

.footer__item {
  width: 327px;
}

.footer-contacts__text {
  margin: 0 0 9px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
}

.footer-contacts__phone {
  color: inherit;
}

.footer-contacts__phone:focus {
  outline: 1px dashed var(--special-dark);
  outline-offset: 2px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social__item {
  margin: 0 3px;
}

.footer-social__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.footer-social__item-link:hover {
  background-color: var(--basic-extra-blue);
}

.footer-social__item-link:active {
  background-color: var(--basic-extra-dark-blue);
}

.footer-social__item-link:focus {
  outline: 2px solid var(--basic-extra-dark-blue);
  outline-offset: -2px;
}

.footer-social__item-icon {
  display: block;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-copyright__text {
  margin: 4px 0 0;
}

.footer-copyright__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 0 10px;
}

.footer-copyright__link:focus {
  outline: 1px dashed var(--special-dark);
  outline-offset: 2px;
}

.footer-copyright__link:hover .footer-copyright__logo,
.footer-copyright__link:focus .footer-copyright__logo {
  fill: var(--basic-blue);
}

.footer-copyright__link:active .footer-copyright__logo {
  fill: var(--basic-extra-gray);
}

/* Catalog */
.filter {
  color: var(--basic-white);
  background: var(--basic-blue) url("../img/filter-bg.jpg") no-repeat;
  line-height: 21px;
}

.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 26px 73px 32px 72px;
}

.filter__form-wrapper--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48.5%;
}

.filter__form fieldset {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  border: 0;
}

.filter__form legend {
  font-size: 16px;
  font-weight: bold;
  padding: 0;
}

.filter-infrastructure legend,
.filter-accommodation legend {
  letter-spacing: -0.2px;
}

.filter__form fieldset.filter-cost {
  margin-left: 10px;
  max-width: 317px;
}

.filter__list {
  margin: 24px 0 0;
  padding: 0;
  list-style: none;
}

.filter__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 22px;
}

.filter__list-item:first-child {
  margin-bottom: 23px;
}

.filter__list-item:last-child {
  margin-bottom: 0;
}

.filter__form-input-checkbox {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.filter__form-label-checkbox {
  position: relative;
  height: 23px;
  padding-left: 39px;
  cursor: pointer;
}

.filter__form-label-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background: url(../img/icons/icon-checkbox-off.svg) no-repeat;
}

.filter__form-input-checkbox:focus+.filter__form-label-checkbox::before {
  outline: 1px dashed var(--basic-white);
  outline-offset: 2px;
}

.filter-accommodation .filter__form-label-checkbox {
  padding-left: 42px;
}

.filter-accommodation .filter__form-label-checkbox:last-child {
  padding-left: 41px;
}

.filter__form-input-checkbox:checked+.filter__form-label-checkbox::before {
  width: 27px;
  background-image: url(../img/icons/icon-checkbox-on.svg);
}

.filter-cost__interval {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 4px 0 5px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-cost__interval::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: var(--basic-white);
}

.filter__form-label {
  display: block;
  width: 40%;
  padding: 0 1% 0 6.5%;
  text-align: right;
}

.filter__form-input-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1px;
  padding-right: 2px;
  max-width: 49%;
  border: 0;
  font: inherit;
  color: inherit;
  background: 0;
}

.filter__form-input-text:focus {
  outline: 1px solid var(--basic-white);
  outline-offset: -1px;
}

.filter-cost__range {
  position: relative;
  margin: 20px 0 33px;
}

.filter-cost__range-bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.filter-cost__range-scale {
  height: 2px;
  background-color: rgba(var(--basic-white--rgb), 0.3);
}

.filter-cost__range-pointer {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
  width: 3px;
  height: 3px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--special-dark);
  cursor: pointer;
  -webkit-box-shadow: 0 2px 1px 0 var( --special-dark);
  box-shadow: 0 2px 1px 0 var( --special-dark);
}

.filter-cost__range-pointer:hover {
  border-width: 10px;
}

.filter-cost__range-pointer:focus {
  outline: 1px dashed var(--basic-white);
  outline-offset: 2px;
}

.filter-cost__range-pointer--max {
  left: 80%;
}

.filter__button {
  display: block;
  margin: 0 auto;
  padding: 5px 33px 6px 34px;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
  text-transform: inherit;
  cursor: pointer;
}

.filter__button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.filter__button:focus {
  outline: 1px dashed var(--basic-white);
  outline-offset: 2px;
}

/* Sort */

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 29px 73px 31px;
  border-bottom: 1px solid var(--basic-extra-white);
}

.sort__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
  font-size: 12px;
}

.sort__content-title {
  width: 132px;
}

.sort__content-text {
  width: 84px;
  margin: 0;
  padding: 2px 0 0;
  line-height: 18px;
}

.sort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 0;
  padding-right: 10px;
  list-style: none;
  letter-spacing: 0.3px;
}

.sort__list-item{
  padding: 2px 32px 0 0;
  line-height: 18px;
}

.sort__list-item:last-child {
  padding-right: 0;
}

.sort__list-item:not(.sort__list-item--active) a {
  color: rgba(var(--basic-black--rgb), .3);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort__list-item:not(.sort__list-item--active) a:hover,
.sort__list-item:not(.sort__list-item--active) a:focus {
  color: var(--basic-blue);
}

.sort__list-item:not(.sort__list-item--active) a:active {
  color: var(--basic-black);
  border-bottom: 0;
}

.sort__list-item--active a {
  color: var(--basic-blue);
}

.sort__list-item--active a:focus {
  outline: 0
}

.sort__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.sort__controls-item {
  display: block;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 10px solid var(--special-gray);
  margin-left: 12px;
}

.sort__controls-item--decrease {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sort__controls-item--active {
  border-bottom-color: var(--basic-blue);
}

.sort__controls-item:not(.sort__controls-item--active):hover {
  border-bottom-color: var(--basic-black);
}

.sort__controls-item:not(.sort__controls-item--active):active {
  border-bottom-color: var(--basic-blue);
}

.sort__controls-item:focus {
  outline: 1px dashed var(--special-dark);
  outline-offset: 2px;
}

/* Accommodation */

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 73px 30px;
  border-bottom: 1px solid var(--basic-extra-white);
}

.item__img {
  display: block;
  width: 135px;
  height: 90px;
}

.item__img-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.item__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 29px;
}

.item__content-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 26px;
}

.item__content-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--basic-dark);
}

.item__content-info {
  margin-right: 6px;
  width: 110px;
}

.item__content-text {
  margin-top: 0;
  margin-bottom: 13px;
}

.item__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5px;
  width: 110px;
}

.item__rating-stars {
  height: 17px;
  background-image: url(../img/icons/icon-star.svg);
  background-repeat: space;
}

.item__rating-stars--two {
  width: 42px;
}

.item__rating-stars--three {
  width: 66px;
}

.item__rating-stars--four {
  width: 90px;
}

.item__rating-text {
  display: inline-block;
  vertical-align: middle;
  color: var(--basic-extra-dark);
  background-color: var(--basic-light);
  margin: 0;
  padding: 0 12px 0 15px;
}

.btn {
  font-size: inherit;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  padding: 4px 16px 5px;
}

.btn:active span {
  opacity: 0.3;
}

.btn:focus {
  outline-offset: -2px;
}

.btn--more {
  padding-left: 17px;
  background-color: var(--basic-blue);
}

.btn--more:hover {
  background-color: var(--basic-extra-blue);
}

.btn--more:active {
  background-color: var(--basic-extra-dark-blue);
}

.btn--more:focus {
  outline: 2px solid var(--basic-extra-dark-blue);
}

.btn--book {
  padding-right: 17px;
  background-color: var(--basic-brown);
}

.btn--book:hover,
.btn--book:focus {
  background-color: var(--basic-extra-brown);
}

.btn--book:active {
  background-color: var(--basic-extra-dark-brown);
}

.btn--book:focus {
  outline: 2px solid var(--basic-extra-dark-brown);
}

/* Animations */

@-webkit-keyframes show {
  from {
    -webkit-transform: scaleY(0) translateY(-100%);
    transform: scaleY(0) translateY(-100%);
  }
  to {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0);
    visibility: visible;
  }
}

@keyframes show {
  from {
    -webkit-transform: scaleY(0) translateY(-100%);
    transform: scaleY(0) translateY(-100%);
  }
  to {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0);
    visibility: visible;
  }
}

@-webkit-keyframes hide {
  from {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0);
    visibility: visible;
  }
  to {
    -webkit-transform: scaleY(0) translateY(-100%);
    transform: scaleY(0) translateY(-100%);
  }
}

@keyframes hide {
  from {
    -webkit-transform: scaleY(1) translateY(0);
    transform: scaleY(1) translateY(0);
    visibility: visible;
  }
  to {
    -webkit-transform: scaleY(0) translateY(-100%);
    transform: scaleY(0) translateY(-100%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}
