/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
  url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans Bold"),
  url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-black: #6A6A6A;

  --basic-gray: #A9A9A9;
  --basic-extra-gray: #BDBBBC;

  --basic-light: #F2F2F2;
  --basic-extra-light: #EBEBEB;

  --basic-white: #ffffff;

  --basic-blue: #81B3D2;
  --basic-extra-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;

  --basic-brown: #766357;
  --basic-extra-brown: #604E43;
  --basic-extra-dark-brown: #503E33;

  --special: #EEEEEE;
}

/* Global */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light);
  background-position: top center;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  font-weight: bold;
  font-size: 21px;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--basic-blue);
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  outline: 0;
  border: 0;
  border-radius: 0;
}

input,
button,
label {
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
}

/* Main navigation */

.nav {
  background-color: var(--basic-white);
}

.nav__list {
  list-style: none;
  text-align: center;
}

.nav__list:active {
  opacity: 0.3;
}

.nav__item-link {
  color: var(--basic-black);
}

.nav__item--current .nav__item-link {
  color: var(--basic-brown);
}

/* Content */

.main {
  background-color: var(--basic-white);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Slider */
.slider {
  width: 1200px;
  height: 509px;
  background-color: var(--basic-white);
  background-image: url('../img/slider/slider.jpg');
}

/* Features */
.features__list {
  list-style: none;
}

.features-group:nth-of-type(2n+1) {
  background-color: var(--basic-blue);
}

.features-group:nth-of-type(4) {
  background-color: var(--special);
}

.features__list-item {
  text-align: center;
}

/* Booking */
.booking {
  max-width: 568px;
  width: 100%;
  margin: 0 auto;
  line-height: 24px;
  text-align: center;
}

.booking__title {
  font-size: 30px;
}

.booking__content {
  line-height: 26px;
}

.booking__content-title {
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.booking__content-title:hover,
.booking__content-title:focus {
  background-color: var(--basic-extra-brown);
}

.booking__content-title:active {
  background-color: var(--basic-extra-dark-brown);
}

/* Search Form*/

.search-form {
  text-align: left;
  background-color: inherit;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-form__input {
  background-color: var(--basic-light);
  border: 2px solid var(--basic-light);
  box-sizing: border-box;
}

.search-form__input:hover {
  background-color: var(--basic-extra-light);
  border-color: var(--basic-extra-light);
}

.search-form__input:focus {
  background-color: var(--basic-white);
  border-color: #E5E5E5;
}

/* Button */
.button-submit {
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--basic-extra-blue);
}

.button-submit:active {
  background-color: var(--basic-extra-dark-blue);
}

.button-minus,
.button-plus {
  background: none;
  color: var(--basic-gray);
}

.button-minus:hover,
.button-minus:focus,
.button-plus:hover,
.button-plus:focus {
  color: var(--basic-black);
}


.button-minus:active,
.button-plus:active {
  color: var(--basic-blue);
}


/* Map */
.map {
  width: 100%;
  min-height: 593px;
  background: var(--basic-light) url("../img/map.jpg");
}

/* Footer */
.footer {
  text-align: center;
  background: rgba(var(--basic-white), 0.9);
}

.footer-contacts__text {
  font-size: 21px;
  font-weight: bold;
}

.footer-contacts__phone {
  color: inherit;
}

.footer-social__list {
  list-style: none;
}

.footer-social__item-link {
  display: inline-block;
  width: 46px;
  height: 48px;
  background: var(--basic-blue);
}

.footer-social__item-link:hover,
.footer-social__item-link:focus {
  background-color: var(--basic-extra-blue);
}

.footer-social__item-link:active {
  background-color: var(--basic-extra-dark-blue);
}

.footer-copyright__link:hover .footer-copyright__logo,
.footer-copyright__link:focus .footer-copyright__logo {
  fill: var(--basic-blue);
}

.footer-copyright__link:active .footer-copyright__logo {
  fill: var(--basic-extra-gray);
}
